/* Фон страницы */
body {
	background-color: #ffffff; /* Белый цвет */
}

/* Шапка */
header {
	background-color: #fed6bc; /* Нежно-персиковый */
	padding: 10px;
	animation: slide-down 1s ease-in-out;
}

@keyframes slide-down {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(0);
	}
}

header ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

header ul li {
	display: inline;
	margin-right: 10px;
}

header ul li a {
	color: #000000; /* Черный цвет текста */
	text-decoration: none;
}

/* Контент */
.content {
	margin: 20px;
}

/* Подвал */
footer {
	background-color: #e7ecff; /* Светло-лиловый */
	padding: 10px;
	animation: fade-in 1s ease-in-out;
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

footer ul li {
	display: inline;
	margin-right: 10px;
}

footer ul li a {
	color: #ffffff; /* Белый цвет текста */
	text-decoration: none;
}

h1 {
	color: #333fed; /* Светло-желтый */
	animation: color-change 2s ease-in-out infinite alternate;
}

@keyframes color-change {
	0% {
		color: #333fed; /* Светло-желтый */
	}
	50% {
		color: #6b33edd1; /* Сиреневый */
	}
	100% {
		color: #333fed; /* Светло-желтый */
	}
}

/* Форма создания и редактирования контакта */
form {
	margin-top: 20px;
	animation: slide-up 1s ease-in-out;
}

@keyframes slide-up {
	0% {
		transform: translateY(100%);
	}
	100% {
		transform: translateY(0);
	}
}

form label {
	display: block;
	margin-bottom: 5px;
}

form input[type='text'],
form input[type='email'] {
	width: 100%;
	padding: 5px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

form button {
	padding: 10px 20px;
	background-color: #47b9ec; /* RGB(71, 185, 236) */
	border: none;
	color: #ffffff; /* Белый цвет текста */
	cursor: pointer;
	animation: fade-in 1s ease-in-out;
}

form button[type='submit'] {
	background-color: #fed6bc; /* Нежно-персиковый */
	color: #ffffff; /* Белый цвет текста */
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.alert {
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #000;
	background-color: #fe3838; /* RGB(254, 56, 56) */
	color: #ffffff; /* Белый цвет текста */
	animation: fade-in 1s ease-in-out;
}

/* Таблица контактов */
table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
	animation: fade-in 1s ease-in-out;
}

table th,
table td {
	padding: 10px;
	text-align: left;
	border-bottom: 1px solid #000000; /* Черная граница */
}

table th {
	background-color: #42f7f5; /* RGB(42, 247, 245) */
	animation: color-change 2s ease-in-out infinite alternate;
}

/* Алерт */
.alert {
	padding: 10px;
	margin-bottom: 10px;
	color: #ffffff; /* Белый цвет текста */
}

.alert-success {
	background-color: #00e1ff; /* Светло-желтый */
	animation: fade-in 1s ease-in-out;
}

.alert-danger {
	background-color: #f6fff8; /* Лаймовый */
	animation: fade-in 1s ease-in-out;
}
